<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certification - IABI</title>
    <link rel="stylesheet" href="../css/certification.css">
</head>
<body>
    <!-- Header -->
    <header>
        <!-- Logo -->
        <div class="logo">
            <img src="../foto/logo.png" alt="IABI Logo">
            <div class="text-container">
                <span class="text-line">IKATAN AHLI BANDAR UDARA</span>
                <span class="text-line">INDONESIA</span>
            </div>
        </div>

        <!-- Navbar Abu -->
        <nav class="top-nav">
            <a href="aboutus.html">About Us</a>
            <a href="contactus.html">Contact Us</a>
            <a href="#">Member Login</a>
            <a href="#">Portal</a>
        </nav>
        <div class="search-container">
            <input type="text" class="search-box">
            <button class="search-button">
                <img src="../foto/search.png" alt="Search">
            </button>
        </div>
    </header>

    <!-- Navbar Kuning -->
    <nav class="main-nav">
        <ul class="nav-list">
            <li><a href="dashboard.html">HOME</a></li>
            <li><a href="membership.html">MEMBERSHIP</a></li>
            <li><a href="certification.html" target="_blank">CERTIFICATION</a></li>
            <li><a href="#">TRAINING</a></li>
            <li><a href="#">PUBLICATIONS</a></li>
            <li><a href="#">EVENTS</a></li>
            <li><a href="media.html">NEWS</a></li>
            <li><a href="#">LSP-BI</a></li>
        </ul>
    </nav>

    <!-- Certification Section -->
    <main class="certification-sections">
        <section class="certification-image">
            <img src="../foto/membership.png" alt="Certification Main">
        </section>
    </main>
</body>
</html>
